/* ============================================================================================= */
/* ==--------------------------------   All-TWEETS.CSS   -------------------------------------== */
/* ============================================================================================= */


/* ============================================================================================= */
/* ===============  Main Container All Tweets (Section.All-Tweets) ========= */
  /* All-Tweets - Main Container                           */
  section.all-tweets {
    width: 100%;
  }

/* ===============  Area for Each Tweet (Article.Tweet) ==================== */  
/* Article.Tweet - Boarder                               */
  article.tweet {
    border-style: solid;
    border-width: thick;
    color: #545149;
    margin-top: 50px;
    padding: 20px;
  }

/* Article.Tweet - Boarder - Hover                       */
  article.tweet:hover {
    box-shadow: 5px 5px 0 #858383;
  }

/* Article.Tweet - Span                                  */
  article.tweet span {
    padding: 10px;
    overflow-wrap: break-word;
  }


/* ================ Header for Each Tweet (Articles.Tweet Header)  ========= */
/* Header Area                                           */
  article.tweet header {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }

/* Header Area - hover                                   */
  article.tweet:hover header {
    font-weight: 600;
  }

/* Header Area Image                                     */
  article.tweet header img {
    height: 2em;
  }

/* Header Area Span Handle                               */
  article.tweet header span.handle {
    margin-left: auto;
    color: transparent;
  }
/* Header Area Span Handle - hover                       */
  article.tweet:hover header span.handle {
    color: #C8C8C8;
  }

/* =============== Footer for Each Tweet (Article.Tweet Footer)  =========== */
/* Footer Area                                           */
  article.tweet footer {
    border-style: none;
    border-top-style: solid;
    border-width: thick;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
  }

/* Footer Area - hover                                   */
  article.tweet:hover footer {
    font-weight: 600;
  }

/* Footer Area Span                                      */
  article.tweet footer span {
    font-size: 15px;
  }

#icon1:hover{
  color: #dede21;
}

#icon2:hover{
  color: #dede21;
}

#icon3:hover{
  color: #dede21;
}

/* =============================   Other    ================================= */


/* ============================================================================================ */
/* ============================================================================================ */