/* -------------------------  Entire Navigation Bar      --------------------------------------- */
/* Entire Nav Bar Area */
  nav {
    background-color: #4056A1;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
  position: fixed;
    right: 0;
    z-index: 3;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: fixed; /*fixes nav bar*/
  }

/* left Area around 'Tweeter' logo */
  div.navLeft-TweeterLogo {
    display: flex;
    text-align: end;
    flex-wrap: wrap;
    font-size: 2.0rem;
    font-family: 'Bungee', sans-serif;
    justify-content: center;
    flex-direction: column;
}

/* Right Area around 'Write a new tweet' */
  div.navRight-WriteTweet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.nav {
  display: flex;
  align-items: flex-end;
}

/* -------------------------    Tweeter Logo         ------------------------------------------- */
/* 'Tweeter' logo */
#logoTweeter {
  color: #FFFFFF;
  margin: 1.5em;
  font-family: 'Bungee', sans-serif;
}