/* ============================================================================================= */
/* ==-------------------------------   NEW-TWEET.CSS  ----------------------------------------== */
/* ============================================================================================= */


/* ============================================================================================= */
/* ========================  Main Styling Elements  ======================== */

/*  Section.new-tweet:       styles for the whole new tweet sections */
section.new-tweet {
  width: 100%;
  margin-top: 50px;
  display: none;
}

/*  .new-tweet p:            (dis:none) container that holds the form */
.error-message-box {
  padding: 15px;
  background-color: #F36060;
  color: #FFFFFF;
  border-radius: 25px;
  display: none
  text-align: center;
  margin-top: 0px;
}

/*  Textarea:                tweet text input area */        
textarea {
  background-color:  #f4f1ec;
  width: 100%;
  resize: none;
  border-style: none;
  border-bottom-style: solid;
  border-width: thick;
  outline: none;
  color: #545149;
}

/*  Textarea::placeholder     text for what are you humming about*/
textarea::placeholder {
  color: #545149;
  opacity: 1;
}


/* ============================================================================================= */
/* ========================  Other Page Elements  ========================== */

/* Tweet Button                                                              */
input {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  margin-top: 10px;
}

/* Character Counter                                                         */
/* Span.counter                                                              */
span.counter {
  font-family: 'Bungee', sans-serif;
  color: #545149;
  border-top: 10px;
  float: right;
};

/* Span.counter.tweetToolong */
.tweetTooLong {
  color:red;
};


/* ============================================================================================= */
/* ============================================================================================= */